.u-section-1 {
  min-height: 834px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 177px);
  height: auto;
  min-height: 176px;
  margin: 384px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-2 {
  width: 102px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 9px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: -336px calc(((100% - 1140px) / 2)  + 54px) 0 calc(((100% - 1140px) / 2)  + 224px);
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-group-3 {
  width: calc(((100% - 1140px) / 2)  + 177px);
  height: auto;
  min-height: 205px;
  margin: -520px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 0;
}

.u-section-1 .u-group-4 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 19px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.125rem;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.125rem;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  font-size: 1.125rem;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-9 {
  background-image: none;
  font-size: 1.125rem;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: calc(((100% - 1140px) / 2)  + 177px);
  height: auto;
  min-height: 176px;
  margin: 204px auto 60px 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-6 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 19px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-7 {
  width: 83px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-10 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 787px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2)  + 177px);
    margin-top: 407px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 177px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -371px;
    margin-right: calc(((100% - 940px) / 2)  + 10px);
    margin-left: calc(((100% - 940px) / 2)  + 230px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 940px) / 2)  + 177px);
    min-height: 230px;
    margin-top: -533px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    width: 159px;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 940px) / 2)  + 177px);
    margin-top: 194px;
    margin-bottom: 19px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    width: 177px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: 7px -38px 0 19px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 796px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2)  + 177px);
    margin-top: 343px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -401px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2)  + 204px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 720px) / 2)  + 177px);
    min-height: 244px;
    margin-top: -688px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 720px) / 2)  + 177px);
    margin-top: 192px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1039px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2)  + 177px);
    margin-top: 357px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-4 {
    margin-top: -413px;
    margin-right: 0;
    margin-left: calc(((100% - 540px) / 2)  + 282px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 540px) / 2)  + 177px);
    margin-top: -784px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 540px) / 2)  + 177px);
    margin-top: 194px;
  }

  .u-section-1 .u-btn-10 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1472px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2)  + 177px);
    margin-top: 354px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
    margin-top: 204px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 340px) / 2)  + 177px);
    margin-top: -1325px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 340px) / 2)  + 177px);
  }
}