.u-section-1 {
  min-height: 2823px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 205px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -182px calc(((100% - 1140px) / 2)  + 253px) 0 calc(((100% - 1140px) / 2)  + 521px);
}

.u-section-1 .u-text-3 {
  margin: 57px calc(((100% - 1140px) / 2)  + 519px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-1 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -33px) 0 auto;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-table-cell-7 {
  font-size: 1.25rem;
}

.u-section-1 .u-group-3 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 176px;
  margin: -165px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-4 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 19px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-5 {
  width: 102px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 9px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 176px;
  margin: 12px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-6 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 19px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-8 {
  width: 83px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  padding: 0;
}

.u-section-1 .u-text-9 {
  margin: -142px calc(((100% - 1140px) / 2)  + 639px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-2 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -32px) 0 auto;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-2 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-10 {
  margin: 57px calc(((100% - 1140px) / 2)  + 343px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-3 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -32px) 0 auto;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-3 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-11 {
  margin: 57px calc(((100% - 1140px) / 2)  + 582px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-4 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -32px) 0 auto;
}

.u-section-1 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-4 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-12 {
  margin: 57px calc(((100% - 1140px) / 2)  + 270px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-5 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -32px) 0 auto;
}

.u-section-1 .u-table-header-5 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-5 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-13 {
  margin: 57px calc(((100% - 1140px) / 2)  + 343px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-6 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -32px) 0 auto;
}

.u-section-1 .u-table-header-6 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-6 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-14 {
  margin: 57px calc(((100% - 1140px) / 2)  + 371px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-7 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -32px) 0 auto;
}

.u-section-1 .u-table-header-7 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-7 {
  font-size: 1.25rem;
}

.u-section-1 .u-text-15 {
  margin: 57px calc(((100% - 1140px) / 2)  + 343px) 0 calc(((100% - 1140px) / 2)  + 255px);
}

.u-section-1 .u-table-8 {
  width: 917px;
  margin: 32px calc(((100% - 1140px) / 2)  + -32px) 60px auto;
}

.u-section-1 .u-table-header-8 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-body-8 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 223px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 205px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2)  + 153px);
    margin-left: calc(((100% - 940px) / 2)  + 421px);
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 331px);
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-table-1 {
    width: 726px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 940px) / 2)  + 223px);
    height: auto;
  }

  .u-section-1 .u-group-4 {
    width: 223px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 940px) / 2) + 223px);
    height: auto;
  }

  .u-section-1 .u-group-6 {
    width: 223px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 451px);
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-table-2 {
    width: 729px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }

  .u-section-1 .u-text-10 {
    margin-top: 77px;
    margin-right: calc(((100% - 940px) / 2)  + 242px);
    margin-left: calc(((100% - 940px) / 2)  + 156px);
  }

  .u-section-1 .u-table-3 {
    width: 729px;
    margin-top: 12px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 394px);
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-table-4 {
    width: 729px;
    margin-top: 33px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 83px);
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-table-5 {
    width: 729px;
    margin-top: 33px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 53px;
    margin-right: calc(((100% - 940px) / 2)  + 156px);
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-table-6 {
    width: 729px;
    margin-top: 36px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 184px);
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-table-7 {
    width: 730px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 156px);
    margin-left: calc(((100% - 940px) / 2)  + 243px);
  }

  .u-section-1 .u-table-8 {
    width: 730px;
    margin-right: calc(((100% - 940px) / 2)  + -32px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2)  + 223px);
    min-height: 215px;
    margin-top: 1px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-2 {
    min-height: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -143px;
    margin-right: calc(((100% - 720px) / 2)  + 55px);
    margin-left: calc(((100% - 720px) / 2)  + 299px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 37px;
    margin-right: calc(((100% - 720px) / 2)  + 118px);
    margin-left: calc(((100% - 720px) / 2)  + 236px);
  }

  .u-section-1 .u-table-1 {
    width: 516px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 720px) / 2)  + 223px);
    margin-top: -228px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 720px) / 2)  + 223px);
    margin-top: 19px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 148px;
    margin-right: calc(((100% - 720px) / 2)  + 452px);
    margin-left: calc(((100% - 720px) / 2)  + 22px);
  }

  .u-section-1 .u-table-2 {
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-text-10 {
    margin-top: -2px;
    margin-right: calc(((100% - 720px) / 2)  + 132px);
    margin-left: calc(((100% - 720px) / 2)  + 46px);
  }

  .u-section-1 .u-table-3 {
    height: 198px;
    margin-top: 94px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 720px) / 2)  + 394px);
    margin-left: calc(((100% - 720px) / 2)  + 23px);
  }

  .u-section-1 .u-table-4 {
    height: 198px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-text-12 {
    margin-right: calc(((100% - 720px) / 2)  + 83px);
    margin-left: calc(((100% - 720px) / 2)  + 23px);
  }

  .u-section-1 .u-table-5 {
    height: 198px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-text-13 {
    margin-top: 58px;
    margin-right: calc(((100% - 720px) / 2)  + 156px);
    margin-left: calc(((100% - 720px) / 2)  + 23px);
  }

  .u-section-1 .u-table-6 {
    height: 198px;
    margin-top: 32px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-text-14 {
    margin-right: calc(((100% - 720px) / 2)  + 192px);
    margin-left: calc(((100% - 720px) / 2)  + 15px);
  }

  .u-section-1 .u-table-7 {
    height: 198px;
    margin-top: 33px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
  }

  .u-section-1 .u-text-15 {
    margin-right: calc(((100% - 720px) / 2)  + 157px);
    margin-left: calc(((100% - 720px) / 2)  + 22px);
  }

  .u-section-1 .u-table-8 {
    height: 198px;
    margin-right: calc(((100% - 720px) / 2)  + -32px);
    margin-bottom: -139px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2)  + 223px);
    margin-top: 115px;
  }

  .u-section-1 .u-text-2 {
    width: 366px;
    margin-top: -83px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 42px;
    margin-right: calc(((100% - 540px) / 2)  + 174px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-table-1 {
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 540px) / 2)  + 223px);
    margin-top: -321px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 540px) / 2)  + 223px);
    margin-top: 0;
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-text-9 {
    margin-top: 378px;
    margin-right: calc(((100% - 540px) / 2)  + 294px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-table-2 {
    width: 540px;
    margin-right: auto;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-top: 8px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-table-3 {
    width: 540px;
    margin-top: 81px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-text-11 {
    margin-top: 24px;
    margin-right: calc(((100% - 540px) / 2)  + 237px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-table-4 {
    width: 540px;
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-table-5 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-text-13 {
    margin-top: 57px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-table-6 {
    width: 540px;
    margin-right: auto;
  }

  .u-section-1 .u-text-14 {
    margin-top: 50px;
    margin-left: 63px;
    margin-right: 63px;
  }

  .u-section-1 .u-table-7 {
    width: 540px;
    margin-top: 32px;
    margin-right: auto;
  }

  .u-section-1 .u-text-15 {
    margin-top: 49px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-table-8 {
    width: 540px;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2)  + 340px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 308px;
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 340px) / 2)  + 340px);
    margin-top: -314px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 340px) / 2)  + 340px);
  }

  .u-section-1 .u-text-9 {
    margin-top: 371px;
    margin-right: calc(((100% - 340px) / 2)  + 94px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    height: 198px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-10 {
    margin-top: 5px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-3 {
    width: 340px;
    height: 198px;
    margin-top: 84px;
  }

  .u-section-1 .u-text-11 {
    margin-right: calc(((100% - 340px) / 2) + 37px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-4 {
    width: 340px;
  }

  .u-section-1 .u-text-12 {
    width: 340px;
    margin-top: 56px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-table-5 {
    width: 340px;
    margin-top: 34px;
  }

  .u-section-1 .u-text-13 {
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-table-6 {
    width: 340px;
  }

  .u-section-1 .u-text-14 {
    margin-top: 42px;
    margin-right: calc(((100% - 340px) / 2)  + -12px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-table-7 {
    width: 340px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-15 {
    width: 340px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-table-8 {
    width: 340px;
  }
}