 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/waiting-room-with-monitors.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 708px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 91px 48px 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  width: 826px;
  margin: 11px 157px 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 120px 0 157px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 38px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-4 {
    width: 826px;
    margin-right: 20px;
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 447px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 335px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 211px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 583px;
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 177px);
  height: auto;
  min-height: 205px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 0;
}

.u-section-2 .u-group-2 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 7px 19px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: -156px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2)  + 258px);
}

.u-section-2 .u-group-3 {
  width: calc(((100% - 1140px) / 2)  + 177px);
  height: auto;
  min-height: 176px;
  margin: 1px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-4 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 7px 19px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-2 .u-text-4 {
  width: 102px;
  margin: 9px auto 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-5 {
  margin: 9px auto 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-2 .u-text-6 {
  margin: -127px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2)  + 258px);
}

.u-section-2 .u-group-5 {
  width: calc(((100% - 1140px) / 2)  + 177px);
  height: auto;
  min-height: 176px;
  margin: -172px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-group-6 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 7px 19px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-2 .u-text-8 {
  margin: 9px 63px 0 72px;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 628px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2)  + 177px);
    margin-top: 10px;
    height: auto;
  }

  .u-section-2 .u-group-2 {
    width: 159px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -192px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 239px);
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 940px) / 2)  + 177px);
    margin-top: 10px;
    height: auto;
  }

  .u-section-2 .u-group-4 {
    width: 177px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -123px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 239px);
  }

  .u-section-2 .u-group-5 {
    width: calc(((100% - 940px) / 2)  + 177px);
    margin-top: -176px;
    margin-bottom: 13px;
    height: auto;
  }

  .u-section-2 .u-group-6 {
    width: 177px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 72px;
    margin-left: 48px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 50vw;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 177px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -219px;
    margin-right: calc(((100% - 720px) / 2)  + 9px);
    margin-left: calc(((100% - 720px) / 2)  + 205px);
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 720px) / 2)  + 177px);
    margin-top: -35px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -99px;
    margin-right: calc(((100% - 720px) / 2)  + 9px);
    margin-left: calc(((100% - 720px) / 2)  + 205px);
  }

  .u-section-2 .u-group-5 {
    width: calc(((100% - 720px) / 2)  + 177px);
    margin-top: -276px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 72px;
    margin-right: 63px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 722px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 177px);
  }

  .u-section-2 .u-text-2 {
    margin-top: 11px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 540px) / 2)  + 177px);
    margin-top: -136px;
  }

  .u-section-2 .u-btn-5 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-2 .u-text-6 {
    margin: 31px 50px 60px;
  }

  .u-section-2 .u-group-5 {
    width: calc(((100% - 540px) / 2)  + 177px);
    margin-top: -543px;
    margin-bottom: 377px;
  }

  .u-section-2 .u-btn-7 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1082px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2)  + 177px);
    margin-top: 26px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-top: 46px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 340px) / 2)  + 177px);
    margin-top: -753px;
  }

  .u-section-2 .u-text-6 {
    width: 340px;
    margin-top: 62px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-group-5 {
    width: calc(((100% - 340px) / 2)  + 177px);
    margin-top: -1176px;
    margin-bottom: 60px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 720px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 344px;
  margin: 37px auto 0;
}

.u-section-3 .u-table-1 {
  width: 774px;
  margin: 19px auto 37px;
}

.u-block-759e-10 {
  height: 46px;
}

.u-block-759e-31 {
  height: 46px;
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-top: 7px;
  }

  .u-section-3 .u-table-1 {
    width: 720px;
    margin-top: 13px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-table-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
  }

  .u-section-3 .u-table-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 376px;
}

.u-section-4 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 861px;
  margin: 10px auto 49px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 248px;
  grid-gap: 10px;
}

.u-section-4 .u-container-layout-1 {
  padding: 24px 9px 0;
}

.u-section-4 .u-image-1 {
  width: 188px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 24px 9px 0;
}

.u-section-4 .u-image-2 {
  width: 188px;
  height: 152px;
  margin: 24px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 24px 9px 0;
}

.u-section-4 .u-image-3 {
  width: 188px;
  height: 152px;
  margin: 24px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 305px;
  }

  .u-section-4 .u-image-1 {
    inset: auto;
  }

  .u-section-4 .u-image-2 {
    inset: auto;
  }

  .u-section-4 .u-image-3 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 716px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-bottom: 60px;
  }
}

/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style for the Early Bird Slider */
.early-bird-slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0b3be8; /* Bright color for visibility */
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 5px 0;
  font-weight: bold;
  z-index: 9999;
  animation: slide 15s linear infinite;
}

/* Animation to make the text slide */
@keyframes slide {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

/* Add padding to the top of the body or content to avoid overlap */
body {
  padding-top: 40px; /* Space for the fixed slider */
}

/* Style for the hyperlink in the slider */
.early-bird-link {
  color: white;  /* White color for text */
  text-decoration: none;  /* Removes underline */
  font-weight: bold;  /* Optional: make the link bold */
}

.early-bird-link:hover {
  color: #333; /* Change color on hover */
}

