 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/waiting-room-with-monitors.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 641px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 91px 48px 0;
}

.u-section-1 .u-text-2 {
  width: 826px;
  margin: 0 auto;
}

.u-section-1 .u-text-3 {
  width: 826px;
  margin: 11px 157px 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 120px 60px 157px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-text-4 {
    width: 826px;
    margin-right: 20px;
    margin-left: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 703px;
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 229px);
  min-height: 201px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 9px 50px 10px;
}

.u-section-2 .u-text-1 {
  margin: 16px 74px 0 54px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-2 {
  margin: 12px auto 0 54px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-2 .u-text-3 {
  margin: 12px auto 0 54px;
}

.u-section-2 .u-text-4 {
  margin: 12px auto 0 54px;
}

.u-section-2 .u-text-5 {
  margin: -185px calc(((100% - 1140px) / 2) + 224px) 0 calc(((100% - 1140px) / 2) + 428px);
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 36px calc(((100% - 1140px) / 2) + 11px) 0 calc(((100% - 1140px) / 2) + 283px);
}

.u-section-2 .u-group-2 {
  width: calc(((100% - 1140px) / 2) + 229px);
  min-height: 202px;
  height: auto;
  margin: -54px auto 0 0;
}

.u-section-2 .u-container-layout-2 {
  padding-bottom: 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 9px 97px 10px 96px;
}

.u-section-2 .u-text-7 {
  margin: 16px 74px 0 54px;
}

.u-section-2 .u-text-8 {
  margin: 12px auto 0 54px;
}

.u-section-2 .u-text-9 {
  margin: -107px calc(((100% - 1140px) / 2) + 11px) 0 calc(((100% - 1140px) / 2) + 283px);
}

.u-section-2 .u-group-3 {
  width: calc(((100% - 1140px) / 2) + 229px);
  min-height: 202px;
  height: auto;
  margin: -202px auto 60px 0;
}

.u-section-2 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 9px 91px 10px 90px;
}

.u-section-2 .u-text-10 {
  margin: 16px 74px 0 54px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 766px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 229px);
    height: auto;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 141px);
    margin-left: calc(((100% - 940px) / 2) + 333px);
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 38px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 255px);
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 940px) / 2) + 229px);
    margin-top: -83px;
    height: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -72px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 255px);
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 940px) / 2) + 229px);
    margin-top: -257px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1025px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 229px);
  }

  .u-section-2 .u-text-5 {
    margin-right: calc(((100% - 720px) / 2) + 31px);
    margin-left: calc(((100% - 720px) / 2) + 255px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 54px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 245px);
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 720px) / 2) + 229px);
    margin-top: -175px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 7px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 245px);
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 720px) / 2) + 229px);
    margin-top: -408px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1375px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 229px);
  }

  .u-section-2 .u-text-5 {
    margin-top: -141px;
    margin-right: 0;
    margin-left: calc(((100% - 540px) / 2) + 245px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 516px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 540px) / 2) + 229px);
    margin-top: -679px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 509px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 540px) / 2) + 229px);
    margin-top: -857px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1768px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 229px);
  }

  .u-section-2 .u-text-5 {
    margin-top: 474px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-2 .u-text-6 {
    margin-top: 54px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-group-2 {
    width: calc(((100% - 340px) / 2) + 229px);
    margin-top: -834px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 686px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-group-3 {
    width: calc(((100% - 340px) / 2) + 229px);
    margin-top: -1110px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 484px;
}

.u-section-3 .u-text-1 {
  margin: 16px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1111px;
  margin: 14px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 320px;
}

.u-section-3 .u-container-layout-1 {
  padding: 24px 9px 4px;
}

.u-section-3 .u-image-1 {
  height: 243px;
  width: 226px;
  margin: 26px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 24px 9px 4px;
}

.u-section-3 .u-image-2 {
  height: 243px;
  width: 226px;
  margin: 26px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 24px 9px 4px;
}

.u-section-3 .u-image-3 {
  height: 243px;
  width: 226px;
  margin: 26px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 305px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 716px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }
}