 .u-section-1 {
  min-height: 2520px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 224px);
  height: auto;
  min-height: 205px;
  margin: 60px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 265px;
  min-height: 44px;
  margin: 7px 0 0 9px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 7px 0 -22px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: -166px calc(((100% - 1140px) / 2)  + 293px) 0 calc(((100% - 1140px) / 2)  + 514px);
}

.u-section-1 .u-group-3 {
  width: calc(((100% - 1140px) / 2)  + 224px);
  height: auto;
  min-height: 176px;
  margin: 137px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-4 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 19px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-4 {
  width: 102px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 9px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: calc(((100% - 1140px) / 2)  + 224px);
  height: auto;
  min-height: 176px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-6 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 19px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-7 {
  margin: 9px 96px 0 67px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 835px;
  background-image: none;
  margin: -460px calc(((100% - 1140px) / 2)  + 42px) 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-7 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 335px;
  margin-top: 0;
  margin-bottom: 0;
  object-position: 50% 11.59%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 405px;
}

.u-section-1 .u-container-layout-8 {
  border-style: double;
  padding: 30px 32px;
}

.u-section-1 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 51px 0 0;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-10 {
  font-size: 1.5rem;
  margin: 24px -1px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-9 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 326px;
  height: 335px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-10 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 62px 0 0;
}

.u-section-1 .u-text-12 {
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-13 {
  font-size: 1.5rem;
  margin: 24px -1px 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-11 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-image-3 {
  width: 326px;
  height: 334px;
  object-position: 50% 25.58%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 409px;
}

.u-section-1 .u-container-layout-12 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-text-14 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 69px 0 0;
}

.u-section-1 .u-text-15 {
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-16 {
  font-size: 1.5rem;
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-13 {
  border-style: double;
  padding: 23px 30px;
}

.u-section-1 .u-image-4 {
  width: 262px;
  height: 348px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-8 {
  min-height: 410px;
}

.u-section-1 .u-container-layout-14 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-text-17 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 52px 0 0;
}

.u-section-1 .u-text-18 {
  font-size: 1.5rem;
  margin: 9px 0 0;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: 24px 0 0;
}

.u-section-1 .u-layout-cell-9 {
  min-height: 432px;
}

.u-section-1 .u-container-layout-15 {
  border-style: double;
  padding: 30px;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin: 0;
}

.u-section-1 .u-layout-cell-10 {
  min-height: 432px;
}

.u-section-1 .u-container-layout-16 {
  border-style: double;
  padding: 30px 28px;
}

.u-section-1 .u-text-20 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 0 0 0 5px;
}

.u-section-1 .u-text-21 {
  font-size: 1.5rem;
  margin: 9px 0 0 5px;
}

.u-section-1 .u-text-22 {
  font-size: 1.5rem;
  margin: 24px 0 0 5px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 2482px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 224px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    min-height: 50px;
    width: 224px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 14px -38px 0 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 940px) / 2) + 193px);
    margin-left: calc(((100% - 940px) / 2) + 414px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 940px) / 2) + 224px);
    height: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 50px;
    width: 224px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin: 14px -38px 0 19px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 940px) / 2) + 224px);
    height: auto;
  }

  .u-section-1 .u-group-6 {
    width: 224px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin: 14px -38px 0 19px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 696px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    background-size: cover;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-image-2 {
    width: 283px;
  }

  .u-section-1 .u-image-3 {
    width: 283px;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2856px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2)  + 224px);
    min-height: 222px;
    margin-top: 113px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-text-2 {
    width: 334px;
    margin-top: 457px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 720px) / 2)  + 224px);
    margin-top: -469px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 720px) / 2)  + 224px);
    margin-top: 14px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 132px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 409px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 409px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 235px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 354px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 235px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 373px;
  }

  .u-section-1 .u-layout-cell-10 {
    min-height: 100px;
  }

  .u-section-1 .u-text-20 {
    margin-left: 0;
  }

  .u-section-1 .u-text-21 {
    margin-left: 0;
  }

  .u-section-1 .u-text-22 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 5099px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 461px;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 540px) / 2)  + 224px);
    margin-top: -473px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 597px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 446px;
    width: 446px;
    margin-top: 36px;
    margin-right: auto;
    margin-left: 29px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 444px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 309px;
    height: 374px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 273px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 453px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    width: 318px;
    height: 383px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 349px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 531px;
  }

  .u-section-1 .u-container-layout-13 {
    padding: 22px 10px;
  }

  .u-section-1 .u-image-4 {
    width: 299px;
    height: 397px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 349px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 560px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-22 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 4787px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 224px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 247px;
    margin-top: 459px;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 340px) / 2)  + 224px);
    margin-top: -471px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 340px) / 2) + 224px);
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 376px;
  }

  .u-section-1 .u-image-1 {
    height: 320px;
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 280px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 285px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 222px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 334px;
  }

  .u-section-1 .u-layout-cell-8 {
    min-height: 222px;
  }

  .u-section-1 .u-layout-cell-9 {
    min-height: 353px;
  }
}