 .u-section-1 {
  min-height: 3014px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 205px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -171px calc(((100% - 1140px) / 2)  + 129px) 0 calc(((100% - 1140px) / 2)  + 383px);
}

.u-section-1 .u-group-3 {
  width: 925px;
  min-height: 315px;
  margin: 48px calc(((100% - 1140px) / 2)  + -20px) 0 auto;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 628px;
  margin: 20px 276px 0 21px;
}

.u-section-1 .u-table-1 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-1 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-4 {
  min-height: 315px;
  margin-top: 77px;
  margin-bottom: -372px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 628px;
  margin: 20px 276px 0 21px;
}

.u-section-1 .u-table-2 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-2 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-2 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-5 {
  min-height: 315px;
  margin-top: 70px;
  margin-bottom: -365px;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 628px;
  margin: 20px 276px 0 21px;
}

.u-section-1 .u-table-3 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-3 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-3 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-6 {
  min-height: 315px;
  margin-top: 60px;
  margin-bottom: -355px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 628px;
  margin: 20px 276px 0 21px;
}

.u-section-1 .u-table-4 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-4 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-4 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-7 {
  min-height: 315px;
  margin-top: 65px;
  margin-bottom: -360px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 51px 0 21px;
}

.u-section-1 .u-table-5 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-5 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-5 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-8 {
  min-height: 315px;
  margin-top: 64px;
  margin-bottom: -359px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 51px 0 21px;
}

.u-section-1 .u-table-6 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-6 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-6 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-9 {
  min-height: 315px;
  margin-top: 48px;
  margin-bottom: -344px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 51px 0 21px;
}

.u-section-1 .u-table-7 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-7 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-7 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-10 {
  min-height: 315px;
  margin-top: 70px;
  margin-bottom: -365px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px 51px 0 21px;
}

.u-section-1 .u-table-8 {
  width: 885px;
  height: 198px;
  margin: 34px auto 0 20px;
}

.u-section-1 .u-table-header-8 {
  font-weight: 700;
  background-image: none;
  font-size: 1.125rem;
}

.u-section-1 .u-table-body-8 {
  font-size: 1.125rem;
}

.u-section-1 .u-group-11 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 176px;
  margin: -249px auto 0 0;
}

.u-section-1 .u-container-layout-11 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-12 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 7px 19px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-12 {
  width: 102px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-13 {
  margin: 9px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-13 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 176px;
  margin: 10px auto 60px 0;
}

.u-section-1 .u-container-layout-13 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-14 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 7px 19px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-15 {
  margin: 9px 95px 0 60px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 4237px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 223px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 205px;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 426px;
    margin-right: calc(((100% - 940px) / 2)  + 268px);
    margin-left: calc(((100% - 940px) / 2)  + 208px);
  }

  .u-section-1 .u-group-3 {
    width: 921px;
    min-height: 401px;
    margin-top: 39px;
    margin-right: auto;
    margin-left: calc(((100% - 940px) / 2)  + -20px);
  }

  .u-section-1 .u-text-3 {
    margin-right: 69px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 137px;
    margin-bottom: -432px;
    min-height: 401px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 137px;
    margin-bottom: -432px;
    min-height: 404px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 137px;
    margin-bottom: -432px;
    min-height: 404px;
  }

  .u-section-1 .u-group-7 {
    min-height: 401px;
    width: 921px;
    margin: 137px -7px -432px auto;
  }

  .u-section-1 .u-text-7 {
    width: 628px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 137px;
    margin-bottom: -432px;
    min-height: 358px;
  }

  .u-section-1 .u-text-8 {
    width: 628px;
  }

  .u-section-1 .u-group-9 {
    min-height: 358px;
    width: 921px;
    margin: 109px 0 -404px;
  }

  .u-section-1 .u-text-9 {
    width: 628px;
  }

  .u-section-1 .u-text-10 {
    width: 628px;
  }

  .u-section-1 .u-group-11 {
    width: calc(((100% - 940px) / 2)  + 223px);
    margin-top: -893px;
    height: auto;
  }

  .u-section-1 .u-group-12 {
    width: 223px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-group-13 {
    width: calc(((100% - 940px) / 2)  + 223px);
    margin-top: 21px;
    height: auto;
  }

  .u-section-1 .u-group-14 {
    width: 223px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin: 7px -38px 0 19px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 101px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 223px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-2 {
    min-height: 48px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    width: 465px;
    margin-top: 417px;
    margin-left: calc(((100% - 720px) / 2) + 92px);
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 720px;
    margin-top: 48px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-table-1 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-1 .u-table-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-1 .u-table-3 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 92px;
    margin-left: 0;
  }

  .u-section-1 .u-table-4 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    width: 720px;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-5 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-6 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    width: 720px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-7 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-8 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-group-11 {
    width: calc(((100% - 720px) / 2)  + 223px);
    margin-top: -896px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-13 {
    width: calc(((100% - 720px) / 2)  + 223px);
    margin-top: 14px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 95px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 223px);
  }

  .u-section-1 .u-text-2 {
    margin-top: 445px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2) + 68px);
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-top: 20px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.875rem;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-table-2 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-table-3 {
    width: 540px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.875rem;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-table-4 {
    width: 540px;
  }

  .u-section-1 .u-group-7 {
    width: 540px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-table-5 {
    width: 540px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-table-6 {
    width: 540px;
  }

  .u-section-1 .u-group-9 {
    width: 540px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-table-7 {
    width: 540px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-table-8 {
    width: 540px;
  }

  .u-section-1 .u-group-11 {
    width: calc(((100% - 540px) / 2) + 223px);
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-group-13 {
    width: calc(((100% - 540px) / 2) + 223px);
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.125rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 3560px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 223px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 62px;
    margin-right: calc(((100% - 340px) / 2)  + -67px);
    margin-left: calc(((100% - 340px) / 2)  + -17px);
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: 90px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
  }

  .u-section-1 .u-text-6 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-4 {
    width: 340px;
  }

  .u-section-1 .u-group-7 {
    width: 340px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-5 {
    width: 340px;
  }

  .u-section-1 .u-text-8 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-6 {
    width: 340px;
  }

  .u-section-1 .u-group-9 {
    width: 340px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-7 {
    width: 340px;
  }

  .u-section-1 .u-text-10 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-table-8 {
    width: 340px;
  }

  .u-section-1 .u-group-11 {
    width: calc(((100% - 340px) / 2) + 223px);
  }

  .u-section-1 .u-group-13 {
    width: calc(((100% - 340px) / 2) + 223px);
  }
}