 .u-section-1 {
  min-height: 5510px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 224px);
  height: auto;
  min-height: 205px;
  margin: 137px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 265px;
  min-height: 44px;
  margin: 7px 0 0 9px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 19px;
  padding-right: 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 7px 0 -22px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -164px calc(((100% - 1140px) / 2)  + 166px) 0 calc(((100% - 1140px) / 2)  + 433px);
}

.u-section-1 .u-group-3 {
  width: 906px;
  min-height: 1231px;
  height: auto;
  margin: 15px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 20px 35px 0;
}

.u-section-1 .u-text-4 {
  margin: 24px 35px 0;
}

.u-section-1 .u-text-5 {
  margin: 27px 676px 0 35px;
}

.u-section-1 .u-group-elements-1 {
  width: 308px;
  min-height: 404px;
  margin: -43px 272px 0 auto;
}

.u-section-1 .u-image-1 {
  height: auto;
  object-position: 50% 0%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-elements-2 {
  width: 279px;
  min-height: 76px;
  margin: 20px auto 0 15px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 23px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 11px 0 0;
}

.u-section-1 .u-text-8 {
  margin: -11px 676px 0 35px;
}

.u-section-1 .u-group-elements-3 {
  width: 279px;
  min-height: 388px;
  margin: 59px auto 0 20px;
}

.u-section-1 .u-image-2 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-elements-4 {
  min-height: 76px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 23px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-1 .u-group-elements-5 {
  width: 279px;
  min-height: 365px;
  margin: -389px 20px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-elements-6 {
  min-height: 88px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 23px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-group-elements-7 {
  width: 292px;
  min-height: 413px;
  margin: -365px 286px 0 auto;
}

.u-section-1 .u-image-4 {
  width: 250px;
  height: 250px;
  object-position: 50% 45.84%;
  margin: 0 auto 0 0;
}

.u-section-1 .u-group-elements-8 {
  width: 279px;
  min-height: 69px;
  height: auto;
  margin: 27px 0 0 auto;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 1px 0 8px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 11px 0 0;
}

.u-section-1 .u-group-4 {
  min-height: 1259px;
  height: auto;
  margin-top: 55px;
  margin-bottom: -1267px;
}

.u-section-1 .u-container-layout-4 {
  padding-bottom: 0;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 20px 35px 0;
}

.u-section-1 .u-text-16 {
  margin: 24px 35px 0;
}

.u-section-1 .u-text-17 {
  margin: 27px 676px 0 35px;
}

.u-section-1 .u-group-elements-9 {
  width: 422px;
  min-height: 425px;
  margin: -43px 215px 0 auto;
}

.u-section-1 .u-image-5 {
  width: 308px;
  height: 308px;
  object-position: 50% 0%;
  margin: 0 auto 0 57px;
}

.u-section-1 .u-group-elements-10 {
  min-height: 97px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 94px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-20 {
  margin: 51px 676px 0 35px;
}

.u-section-1 .u-group-elements-11 {
  width: 279px;
  min-height: 364px;
  margin: 59px auto 0 20px;
}

.u-section-1 .u-image-6 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-elements-12 {
  min-height: 76px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-21 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 23px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-1 .u-group-elements-13 {
  width: 281px;
  min-height: 389px;
  margin: -365px 19px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-14 {
  min-height: 88px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 0 0 12px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  margin: 11px 2px 0 0;
}

.u-section-1 .u-group-elements-15 {
  width: 291px;
  min-height: 413px;
  margin: -389px 302px 0 auto;
}

.u-section-1 .u-image-8 {
  width: 250px;
  height: 250px;
  object-position: 50% 5.15%;
  margin: 0 auto 0 14px;
}

.u-section-1 .u-group-elements-16 {
  min-height: 136px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-25 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 271px;
  margin: 0 auto;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  width: 279px;
  margin: 11px auto 0;
}

.u-section-1 .u-group-5 {
  width: calc(((100% - 1140px) / 2)  + 224px);
  height: auto;
  min-height: 176px;
  margin: -1116px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-6 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 19px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-28 {
  width: 102px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-29 {
  margin: 9px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-7 {
  width: calc(((100% - 1140px) / 2)  + 224px);
  height: auto;
  min-height: 176px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-8 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 7px 19px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-31 {
  margin: 9px 96px 0 67px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 0;
  margin: 334px calc(((100% - 1140px) / 2)  + 246px) 0 auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 474px;
  grid-auto-columns: 100%;
  grid-gap: 0px;
}

.u-section-1 .u-group-9 {
  min-height: 1259px;
  height: auto;
  width: 906px;
  margin: 1232px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-container-layout-9 {
  padding-bottom: 30px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  margin: 20px 35px 0;
}

.u-section-1 .u-text-33 {
  margin: 24px 35px 0;
}

.u-section-1 .u-text-34 {
  margin: 27px 676px 0 35px;
}

.u-section-1 .u-group-elements-17 {
  width: 422px;
  min-height: 425px;
  margin: -43px 215px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 308px;
  height: 308px;
  object-position: 50% 0%;
  margin: 0 auto 0 57px;
}

.u-section-1 .u-group-elements-18 {
  min-height: 97px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 94px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-37 {
  margin: 51px 676px 0 35px;
}

.u-section-1 .u-group-elements-19 {
  width: 279px;
  min-height: 436px;
  margin: 59px auto 0 20px;
}

.u-section-1 .u-image-10 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto 0 15px;
}

.u-section-1 .u-group-elements-20 {
  min-height: 76px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 23px;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-1 .u-group-elements-21 {
  width: 280px;
  min-height: 389px;
  margin: -437px 19px 0 auto;
}

.u-section-1 .u-image-11 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-22 {
  min-height: 112px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-41 {
  font-weight: 700;
  margin: 11px 1px 0 0;
}

.u-section-1 .u-group-elements-23 {
  width: 291px;
  min-height: 413px;
  margin: -389px 302px 0 auto;
}

.u-section-1 .u-image-12 {
  width: 250px;
  height: 250px;
  object-position: 50% 5.15%;
  margin: 0 auto 0 14px;
}

.u-section-1 .u-group-elements-24 {
  min-height: 136px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 271px;
  margin: 0 auto;
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  width: 279px;
  margin: 11px auto 0;
}

.u-section-1 .u-group-10 {
  min-height: 1259px;
  height: auto;
  margin-top: 64px;
  margin-bottom: -1299px;
}

.u-section-1 .u-container-layout-10 {
  padding-bottom: 30px;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  margin: 20px 35px 0;
}

.u-section-1 .u-text-45 {
  margin: 24px 35px 0;
}

.u-section-1 .u-text-46 {
  margin: 27px 676px 0 35px;
}

.u-section-1 .u-group-elements-25 {
  width: 422px;
  min-height: 453px;
  margin: -43px 215px 0 auto;
}

.u-section-1 .u-image-13 {
  width: 308px;
  height: 308px;
  object-position: 50% 0%;
  margin: 0 auto 0 57px;
}

.u-section-1 .u-group-elements-26 {
  min-height: 97px;
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-1 .u-text-47 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 94px;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 10px 0 0;
}

.u-section-1 .u-text-49 {
  margin: 51px 676px 0 35px;
}

.u-section-1 .u-group-elements-27 {
  width: 279px;
  min-height: 352px;
  margin: 59px auto 0 20px;
}

.u-section-1 .u-image-14 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-28 {
  min-height: 76px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-50 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 23px;
}

.u-section-1 .u-text-51 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-1 .u-group-elements-29 {
  width: 280px;
  min-height: 389px;
  margin: -353px 19px 0 auto;
}

.u-section-1 .u-image-15 {
  width: 250px;
  height: 250px;
  object-position: 50% 0%;
  margin: 0 auto;
}

.u-section-1 .u-group-elements-30 {
  min-height: 112px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.u-section-1 .u-text-53 {
  font-weight: 700;
  margin: 11px 1px 0 0;
}

.u-section-1 .u-group-elements-31 {
  width: 291px;
  min-height: 413px;
  margin: -389px 302px -5px auto;
}

.u-section-1 .u-image-16 {
  width: 250px;
  height: 250px;
  object-position: 50% 5.15%;
  margin: 0 auto 0 14px;
}

.u-section-1 .u-group-elements-32 {
  min-height: 136px;
  height: auto;
  margin-top: 27px;
  margin-bottom: 0;
}

.u-section-1 .u-text-54 {
  font-weight: 700;
  font-size: 1.5rem;
  width: 271px;
  margin: 0 auto;
}

.u-section-1 .u-text-55 {
  font-weight: 700;
  width: 279px;
  margin: 11px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 7218px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 224px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    min-height: 50px;
    width: 224px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: 14px -38px 0 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    width: 541px;
    margin-top: 432px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 1260px;
    margin-top: 43px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-text-4 {
    margin-right: 34px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 675px;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
    width: NaNpx;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-16 {
    margin-right: 34px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 675px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 940px) / 2)  + 224px);
    margin-top: -1766px;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    min-height: 50px;
    width: 224px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin: 14px -38px 0 19px;
  }

  .u-section-1 .u-group-7 {
    width: calc(((100% - 940px) / 2)  + 224px);
    margin-top: 14px;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    width: 224px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-30 {
    width: auto;
    margin: 14px -38px 0 19px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 354px;
    margin-right: calc(((100% - 940px) / 2)  + 46px);
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(undefined, NaN%);
    min-height: NaNpx;
    grid-auto-columns: NaN%;
  }

  .u-section-1 .u-group-9 {
    min-height: 1319px;
    margin-top: 2340px;
    margin-right: auto;
    height: auto;
  }

  .u-section-1 .u-text-33 {
    margin-right: 34px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 675px;
  }

  .u-section-1 .u-group-10 {
    min-height: 1289px;
    margin-bottom: -1345px;
    margin-top: 111px;
    height: auto;
  }

  .u-section-1 .u-text-45 {
    margin-right: 34px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 675px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 8511px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 224px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-3 {
    width: 720px;
    min-height: 1761px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-1 {
    min-height: 465px;
    height: auto;
    margin-top: -38px;
    margin-right: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: -16px;
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-7 {
    height: auto;
    margin-top: 66px;
    margin-right: auto;
  }

  .u-section-1 .u-group-4 {
    min-height: 1717px;
    margin-top: 96px;
    margin-bottom: -1739px;
  }

  .u-section-1 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-9 {
    height: auto;
    margin-top: -39px;
    margin-right: 142px;
  }

  .u-section-1 .u-text-20 {
    margin-top: 47px;
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-15 {
    height: auto;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 720px) / 2)  + 224px);
    margin-top: -2268px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-group-6 {
    min-height: 57px;
    width: 147px;
    margin-right: 127px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-1 .u-text-27 {
    margin-top: 21px;
  }

  .u-section-1 .u-group-7 {
    width: calc(((100% - 720px) / 2)  + 224px);
    margin-top: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 403px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: 100%;
  }

  .u-section-1 .u-group-9 {
    min-height: 1703px;
    width: 720px;
    margin-top: 3245px;
  }

  .u-section-1 .u-text-32 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-33 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-34 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-17 {
    height: auto;
    margin-right: auto;
    margin-left: 139px;
  }

  .u-section-1 .u-text-37 {
    margin-top: 52px;
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-23 {
    height: auto;
    margin-top: 62px;
    margin-right: auto;
    margin-left: 205px;
  }

  .u-section-1 .u-group-10 {
    min-height: 1632px;
    margin-top: 20px;
    margin-bottom: -1665px;
  }

  .u-section-1 .u-text-44 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-45 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-46 {
    margin-right: 524px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-25 {
    height: auto;
    margin-top: -39px;
    margin-right: auto;
  }

  .u-section-1 .u-text-49 {
    margin-top: 47px;
    margin-right: 525px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-31 {
    height: auto;
    margin-top: -20px;
    margin-right: auto;
    margin-bottom: -30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 8617px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    width: 540px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 344px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 24px;
    margin-right: 345px;
  }

  .u-section-1 .u-group-elements-3 {
    width: 265px;
    height: auto;
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-5 {
    width: 265px;
    min-height: 394px;
    height: auto;
    margin-top: -382px;
    margin-right: -4px;
  }

  .u-section-1 .u-group-elements-7 {
    width: 279px;
    margin-top: 57px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 8px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 70px;
    margin-bottom: -1703px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 344px;
  }

  .u-section-1 .u-group-elements-9 {
    margin-top: 8px;
    margin-right: auto;
  }

  .u-section-1 .u-text-20 {
    width: auto;
    margin-top: 35px;
    margin-right: 345px;
  }

  .u-section-1 .u-group-elements-11 {
    width: 264px;
    height: auto;
    margin-top: 26px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-13 {
    width: 250px;
    min-height: 466px;
    height: auto;
    margin-top: -367px;
    margin-right: 6px;
  }

  .u-section-1 .u-group-elements-15 {
    margin-top: -49px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-group-6 {
    width: 224px;
    margin-right: 77px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-5 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-6 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-group-7 {
    width: calc(((100% - 540px) / 2) + 224px);
  }

  .u-section-1 .u-btn-7 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-list-1 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-9 {
    min-height: 1805px;
    width: 540px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 344px;
  }

  .u-section-1 .u-group-elements-17 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-1 .u-text-37 {
    margin-top: 0;
    margin-right: 345px;
  }

  .u-section-1 .u-group-elements-19 {
    height: auto;
    margin-top: 58px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-21 {
    width: 250px;
    min-height: 394px;
    height: auto;
    margin-top: -436px;
    margin-right: -9px;
  }

  .u-section-1 .u-group-elements-23 {
    margin-top: 146px;
    margin-left: auto;
  }

  .u-section-1 .u-group-10 {
    margin-bottom: -1719px;
    margin-top: 116px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 344px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 345px;
  }

  .u-section-1 .u-group-elements-27 {
    width: 250px;
    min-height: 364px;
    height: auto;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-29 {
    height: auto;
    margin-top: -361px;
    margin-right: 0;
  }

  .u-section-1 .u-group-elements-31 {
    margin-top: 5px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 10445px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 224px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    min-height: 2277px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 144px;
  }

  .u-section-1 .u-group-elements-1 {
    margin-top: 50px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 72px;
    margin-right: 145px;
  }

  .u-section-1 .u-group-elements-3 {
    margin-top: 0;
    margin-left: 24px;
  }

  .u-section-1 .u-group-elements-5 {
    min-height: 365px;
    margin-top: 509px;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-7 {
    margin-top: -807px;
  }

  .u-section-1 .u-group-4 {
    min-height: 2318px;
    margin-top: 459px;
    margin-bottom: -2344px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 144px;
  }

  .u-section-1 .u-group-elements-9 {
    margin-top: 28px;
    min-height: 482px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    margin-left: auto;
  }

  .u-section-1 .u-text-20 {
    margin-top: 110px;
    margin-right: 145px;
  }

  .u-section-1 .u-group-elements-11 {
    margin-top: 42px;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-13 {
    min-height: 389px;
    margin-top: 480px;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-15 {
    margin-top: -838px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 340px) / 2)  + 224px);
    margin-top: -2799px;
  }

  .u-section-1 .u-group-7 {
    width: calc(((100% - 340px) / 2)  + 224px);
    margin-top: 9px;
  }

  .u-section-1 .u-list-1 {
    margin-top: 454px;
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-9 {
    min-height: 2254px;
    width: 340px;
    margin-top: 4345px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 144px;
  }

  .u-section-1 .u-group-elements-17 {
    min-height: 453px;
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    margin-left: auto;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: 34px;
    margin-right: 145px;
  }

  .u-section-1 .u-group-elements-19 {
    margin-top: 17px;
  }

  .u-section-1 .u-group-elements-21 {
    min-height: 389px;
    margin-top: 518px;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-23 {
    margin-top: -833px;
  }

  .u-section-1 .u-group-10 {
    min-height: 2114px;
    margin-bottom: -2164px;
    margin-top: 470px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 144px;
  }

  .u-section-1 .u-group-elements-25 {
    width: 340px;
    min-height: 463px;
    margin-top: 33px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-26 {
    min-height: 125px;
    margin-top: 30px;
    height: auto;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-top: 38px;
    margin-right: 138px;
    margin-left: 7px;
  }

  .u-section-1 .u-group-elements-27 {
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-group-elements-29 {
    margin-top: 431px;
    margin-right: auto;
  }

  .u-section-1 .u-group-elements-31 {
    margin-top: -791px;
    margin-right: 20px;
    margin-bottom: 0;
  }
}