 .u-section-1 {
  min-height: 939px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 205px;
  margin: 13px auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 0;
}

.u-section-1 .u-group-2 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 7px 19px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 9px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 6px auto 0;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-size: 1.125rem;
  font-weight: 700;
  margin: 7px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -175px 346px 0 calc(((100% - 1140px) / 2)  + 484px);
}

.u-section-1 .u-group-3 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 176px;
  margin: 146px auto 0 0;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-4 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 7px 19px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-4 {
  width: 102px;
  margin: 9px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-text-5 {
  margin: 9px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-group-5 {
  width: calc(((100% - 1140px) / 2)  + 223px);
  height: auto;
  min-height: 176px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-group-6 {
  height: auto;
  width: 261px;
  min-height: 44px;
  margin: 7px 9px 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 7px 19px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: 0 0 -22px;
}

.u-section-1 .u-text-7 {
  margin: 9px 89px 0 95px;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0;
}

.u-section-1 .u-tabs-1 {
  min-height: 463px;
  width: 889px;
  height: auto;
  margin: -464px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-tab-link-1 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-2 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-link-3 {
  font-size: 1.25rem;
  background-image: none;
  font-weight: 600;
  padding: 10px 25px;
}

.u-section-1 .u-tab-pane-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 25px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 0 auto 0 0;
}

.u-section-1 .u-table-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-table-header-1 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-tab-pane-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 21px 25px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 9px auto 0 0;
}

.u-section-1 .u-table-2 {
  margin-top: 29px;
  margin-bottom: -9px;
}

.u-section-1 .u-table-header-2 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-30 {
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-32 {
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-34 {
  background-image: none;
}

.u-section-1 .u-tab-pane-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 21px 25px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 9px auto 0 0;
}

.u-section-1 .u-table-3 {
  margin-top: 29px;
  margin-bottom: -9px;
}

.u-section-1 .u-table-header-3 {
  font-size: 1.25rem;
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-38 {
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-41 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-42 {
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-46 {
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  background-image: none;
  font-weight: 700;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1342px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 223px);
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 211px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2)  + 157px);
    margin-left: calc(((100% - 940px) / 2)  + 398px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 940px) / 2) + 223px);
    height: auto;
  }

  .u-section-1 .u-group-4 {
    width: 223px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 940px) / 2) + 223px);
    height: auto;
  }

  .u-section-1 .u-group-6 {
    width: 223px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 980px;
    width: 692px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-table-2 {
    height: 558px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1329px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 223px);
  }

  .u-section-1 .u-text-2 {
    margin-right: calc(((100% - 720px) / 2)  + 46px);
    margin-left: calc(((100% - 720px) / 2)  + 306px);
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 720px) / 2) + 223px);
  }

  .u-section-1 .u-group-4 {
    width: 113px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 720px) / 2) + 223px);
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1122px;
    width: 488px;
    margin-top: -494px;
    margin-right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2)  + 223px);
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 368px;
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 540px) / 2)  + 223px);
    margin-top: -139px;
  }

  .u-section-1 .u-group-4 {
    width: 223px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 540px) / 2)  + 223px);
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1032px;
    width: 540px;
    margin-top: 28px;
    margin-right: auto;
  }

  .u-section-1 .u-tab-link-1 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-tab-link-3 {
    font-size: 1rem;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-container-layout-8 {
    padding: 0 10px 30px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 30px;
  }

  .u-section-1 .u-table-2 {
    margin-bottom: -81px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2120px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2)  + 223px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-right: 103px;
    margin-left: calc(((100% - 340px) / 2) + 145px);
    width: 340px;
  }

  .u-section-1 .u-group-3 {
    width: calc(((100% - 340px) / 2)  + 223px);
  }

  .u-section-1 .u-group-5 {
    width: calc(((100% - 340px) / 2)  + 223px);
  }

  .u-section-1 .u-tabs-1 {
    min-height: 1992px;
    width: 340px;
    margin-bottom: 38px;
  }

  .u-section-1 .u-table-2 {
    margin-bottom: -1063px;
  }
}